:root {
  --nav-font-color:#ffffff;
  --background: #f6f8fe;
  --background-footer: #8999c9;
  --background-nav: #5278c0d8;
  --accent-color-dark: #25284031;
  --main-font-color: #0c0c0c;
  --accent-font-color: #ffffff4d;
  --white: white;
}

.mobile-only{
  display: none;
}
@media only screen and (max-width: 767px) {
  .mobile-only{
    display: unset;
  }
  .desktop-only{
    display: none;
  }
}


.floatingchat-container-wrap, .floatingchat-container-wrap-mobi{
  right:10px !important;
  left:unset !important;
}

.floating-chat-kofi-popup-iframe, .floating-chat-kofi-popup-iframe-mobi, .floating-chat-kofi-popup-iframe-container-mobi{
  position: fixed;
  right:20px !important;
  left:unset !important;
}

.floatingchat-container-mobi{
  right:-20px !important;
  left:unset !important;
}


@font-face {
  font-family: "SofiaPro-Black";
  src: url("assets/fonts/SofiaPro-Black.ttf");
}

@font-face {
  font-family: "Arial-Round";
  src: url("assets/fonts/ArialRound.ttf");
}

h1{
  font-weight: 300;
  font-family: "SofiaPro-Black";
}

.landingHeader{
  line-height: 1.1;
}

h2{
  font-weight: 300;
  font-family: "SofiaPro-Black";
}

h3{
  font-weight: 300;
  font-family: "SofiaPro-Black";
}

h4{
  font-weight: 200;
  font-family: "Arial-Round";
}

@font-face {
  font-family: "GothamBook";
  src: url("assets/fonts/Gotham\ Book.otf")  format("truetype");
}

html, body {
  scroll-behavior: smooth; 
  max-width: 100%;
  overflow-x: hidden;
  padding:0;
  margin:0;
  font-family: Helvetica, Arial, sans-serif;
} 

::-webkit-scrollbar {
  max-width: 11px;
  width: 0.9vw;
}

::-webkit-scrollbar-thumb:hover {
  background: #686868; 
}

::-webkit-scrollbar-thumb {
    background-color: #7c7c7c;
    background: #7c7c7c;
    border-radius: 30px;
}

::-webkit-scrollbar-track {
  background: #d3d3d3fd; 
  border-radius: 30px;
}

a{
  color: var(--white-font-color);
  text-decoration: none;
}

.navBar{
  z-index: 100;
  position: fixed;
  width: 100%;
  background-color: var(--background-nav);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-radius: 0px 0px 20px 20px;
  box-shadow: 2px 2px 10px #20202033;
  backdrop-filter: blur(8px);
}

.navBar a {
  background: 
    linear-gradient(to right, #00000000, #00000000),
    linear-gradient(to right, var(--accent-font-color), var(--accent-font-color));
  background-size: 0em 0em;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  transition: background-size 300ms;
  border-radius: 15px;
}

.navBar a:hover,
.navBar a:focus {
  background-size: 100% 100%, 100% 100%;
  border-radius: 15px;
}

.navBarButtonContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0px 50px;
  user-select: none;
}

.navBarButton{
  font-size: 17px;
  padding: 19px 25px;
  color:var(--nav-font-color);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.navBarButtonHover{
  transition: transform 300ms;
}

.navBarButtonHover:hover{
  transform: scale(1.1);
}

@media only screen and (max-width: 700px) {
  .navBar{
    justify-content: center;
  }
  .navBarButtonContainer{
    margin: 0px 10px;
  }
  .navBarButton{
    font-size: 14px;
    padding: 18px 15px;
  }
}

.navBarButtonSelected{
  background-color: #83a4d3;
  border-radius: 15px;
}

.landingContainer{
  width:100vw;
  height:100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 10%;
}

.landingContainer h1{
  font-size: 10vw;
  line-height: 1;
  margin:0;
  text-shadow: 2px 2px 15px #ffffff;
}

.flexRow{
  display: flex;
  align-items: center;
}

.aboutContainerTitle{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flexRowCenter{
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexCenterColumn{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media only screen and (max-width: 1000px) {
  .flexRowCenter{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

.stats{
  margin: 30px;
  margin-bottom: 0px;
}

.stats h2{
  font-size: 35px;
  margin: 0 50px;
}

.statsLabel{
  font-size: 20px !important;
}

@media only screen and (max-width: 870px) {
  .stats{
    margin: 15px;
    margin-bottom: 0px;
  }

  .stats h2{
    font-size: 35px;
    margin: 0 10px;
  }

  .statsLabel{
    font-size: 15px !important;
  }
}

.landingContainer h2{
  font-size: 8vw;
  line-height: 1;
  margin:0;
  margin-top: 10px;
  margin-bottom: 10px;
  text-shadow: 2px 2px 15px #ffffff;
}

.appIcon{
  width: 70px;
  height: 70px;
  padding: 6px;
  border-radius: 20%;
  background-color: rgb(248, 248, 248);
  box-shadow: 0px 0px 20px #20202033;
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 10px;
  transition: transform 300ms;
}

.faqIcon{
  max-width: 100%;
  border-radius: 15px;
  box-shadow: 0px 0px 20px #20202033;
  margin-top: 5px;
  margin-right: 10px;
  transition: transform 300ms;
}

.playStoreButton{
  width: 15vw;
  margin-top: 10px;
  margin-left: -0.5%;
  transition: transform 300ms;
}

.playStoreButton:hover, .appIcon:hover{
  transition: transform 300ms;
  transform: scale(1.06);
}

@media only screen and (min-width: 2000px) {
  .landingContainer h1{
    font-size: 170px;
  }
  .landingContainer h2{
    font-size: 150px;
  }
  .playStoreButton{
    width: 300px;
    margin-left: -0.7%;
  }
}

@media only screen and (max-width: 870px) {
  .landingContainer h1{
    font-size: 17vw;
    width: 100%;
  }
  .landingContainer h2{
    font-size: 12.5vw;
    width: 100%;
  }
  .playStoreButton{
    width: 45vw;
    margin-top: 10px;
    margin-left: -2%;
    transition: transform 300ms;
  }
  .playStoreButtonAbout{
    margin:0;
  }
  .appIcon{
    width: 55px;
    height: 55px;
    margin-right: 15px;
    padding: 3px;
    margin-top: 10px;
  }
  .aboutContainerTitle{
    flex-direction: column;
  }
}

.background{
  position: fixed;
  transform: rotate(25deg);
  width: 100vw;
  height: 100vw;
  top:0;
  left:-20vw;
  right:50vw;
  display: flex;
  flex-direction: row;
  z-index:-1;
  filter: blur(3px);
}

.background img{
  user-select: none;
  width: 16vw;
  margin-left: -1%;
  transition: transform 300ms;
  border-radius: 10px;
  box-shadow: 2px 2px 10px #20202033;
  margin: 30px;
}

.background .column{
  display: flex;
  flex-direction: column;
  animation: backgroundMove 550s linear infinite;
  animation-delay: -100s;
}

.background .opposite{
  animation: backgroundMoveOpposite 550s linear infinite;
  animation-delay: -200s;
}

@media only screen and (max-width: 800px) {
  .background img{
    width: 300px;
  }
  .background .column{
    display: flex;
    flex-direction: column;
    animation: backgroundMoveMobile 550s linear infinite;
  }
  
  .background .opposite{
    animation: backgroundMoveMobileOpposite 550s linear infinite;
  } 
}

@keyframes backgroundMove {
  0% {
    transform: translateY(-35%);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-338%);
  }
}

@keyframes backgroundMoveOpposite {
  0% {
    transform: translateY(-338%);
    opacity: 0;
  }
  0.1% {
    opacity: 1;
  }
  99.9% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-35%);
  }
}

@keyframes backgroundMoveMobile {
  0% {
    transform: translateY(-500px);
  }
  100% {
    transform: translateY(-6500px);
  }
}

@keyframes backgroundMoveMobileOpposite {
  0% {
    transform: translateY(-6500px);
  }
  100% {
    transform: translateY(-500px);
  }
}

.aboutContainer{
  padding-top: 2vh;
  padding-left: 3vw;
  padding-right: 3vw;
  background-color: var(--background);
  border-radius: 20px 20px 0px 0px;
  padding-bottom: 30px;
  box-shadow: 0px 2px 20px #20202081;
}

.aboutContainer h1{
  font-size: 60px;
  margin: 0;
  padding: 0;
}

.aboutContainer p{
  font-size: 25px;
  margin: 0;
  margin-bottom: 10px;
  font-family: "Arial-Round";
}

.footer{
  background-color: var(--background-footer);
  text-align: center;
  font-size: 30px;
}

.footer p{
  margin:0;
  font-size: 22px;
  font-family: "Arial-Round";
}

.footer h2{
  margin: 0;
  font-size: 30px;
}

.footer a{
  text-decoration-color: transparent !important;
  transition: text-decoration-color 250ms;
  cursor: pointer;
  text-decoration: underline;
  word-break: break-all;
}

.footer a:hover{
  text-decoration-color: black !important;
  transition: text-decoration-color 250ms;
  text-decoration: underline;
  user-select: all;
}

@media only screen and (max-width: 800px) {
  .aboutContainer{
    padding-top: 20px;
    padding-left: 5vw;
    padding-right: 5vw;
  }
  .aboutContainer h1{
    font-size: 40px;
  }
  .aboutContainer p{
    font-size: 20px;
  }
  .footer h2{
    font-size: 20px;
  }
}

.notes {
  font-size: 12px !important;
  margin-bottom: -50px;
  text-align: left;
  background-color: var(--background-footer);
  padding: 0px 3px;
}

.break{
  height:10px;
}

@media only screen and (max-width: 800px) {
  .desktop{
    display:none
  }
  .background{
    left:-20vw;
  }
  .notes{
    text-align: center;
    padding: 0px 20px;
  }
  .break{height: 30px;}
}

@media only screen and (min-width: 801px) {
  .mobile{
    display:none
  }
}

.flexCenter{
  display: flex;
  justify-content: center;
}

.policyContainer p{
  line-height: 1.2;
}

.policyContainer{
  margin-top: 85px;
  margin-bottom: 35px;
  padding-top: 30px;
  padding-bottom: 30px;
  max-width: 900px;
  border-radius: 15px;
}

.policyContainer h1{
  padding:0;
}

.policyContainer h2{
  margin:0;
  margin-top: 20px;
  margin-bottom: 6px;
  font-size: 35px;
  line-height: 1.1;
}

.policyContainer h3{
  margin:0;
  margin-top: 15px;
  font-size: 25px;
  margin-bottom: 4px;
  line-height: 1.1;
}

.policyContainer h4{
  margin:0;
  margin-top: 10px;
  font-size: 22px;
  margin-bottom: 4px;
  line-height: 1.1;
}

.policyContainer p{
  font-size: 20px;
}

.policyContainer a{
  color: #3370aa;
  text-decoration-color: transparent !important;
  transition: text-decoration-color 250ms;
  cursor: pointer;
  text-decoration: underline;
  word-break: break-all;
}

.policyContainer a:hover{
  text-decoration-color: #3370aa !important;
  transition: text-decoration-color 250ms;
  text-decoration: underline;
  user-select: all;
}

.link a{
  color: #67aef0;
  text-decoration-color: #67aef0 !important;
  transition: text-decoration-color 250ms;
  cursor: pointer;
  text-decoration: underline;
}

.link a:hover{
  text-decoration-color: transparent !important;
  transition: text-decoration-color 250ms;
  text-decoration: underline;
  user-select: all;
}



hr{
  color: #c7c7c7;
  border-radius: 10px;
  height:3px;
  margin-top: 20px;
  margin-left: -10px;
  margin-right: -10px;
  background-color: #c7c7c7;
  border: 0;
}

@media (prefers-color-scheme: dark) {
  body{
    color:white;
    background-color: #000000;
  }
  .appIcon{
    background-color: #333333;
    box-shadow: 0px 0px 4px #b8b8b833;
  }
  .background{
    filter: brightness(0.9) blur(3px);
  }
  .footer, .notes{
    background-color: #495474;
  }
  .landingContainer{
    color:#ffffff;
  }
  .landingContainer h1{
    text-shadow: 2px 2px 25px #000000;
  }
  .landingContainer h2{
    text-shadow: 2px 2px 25px #000000;
  }  
  .aboutContainer{
    background-color: #181818;
  }
  .navBarButtonSelected{
    background-color: #6c89af;
  }
  .navBar{
    background-color: #3f5d96d8;
  }
  .navBar a {
    background: 
      linear-gradient(to right, transparent, transparent),
      linear-gradient(to right, #74bed44d, #72c6e74d);
    background-size: 0em 0em;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    transition: background-size 300ms;
  }
  .navBar a:hover,
  .navBar a:focus {
    background-size: 100% 100%, 100% 100%;
  }
  .footer a:hover{
    text-decoration-color: white !important;
  }
  .policyContainer a{
    color: #80b9ee;
  }
  .policyContainer a:hover{
    text-decoration-color: #80b9ee !important;
  }
  hr{
    background-color: #505050;
  }
}
